content-pipeline-workflow.json
{
  "name": "wp-content-engine - Multi-Site Content Pipeline",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "weeks",
              "weeksInterval": 1,
              "triggerAtDay": [1],
              "triggerAtHour": 9
            }
          ]
        }
      },
      "id": "cron-trigger",
      "name": "Weekly Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1,
      "position": [0, 0]
    },
    {
      "parameters": {
        "operation": "search",
        "base": { "value": "={{ $env.AIRTABLE_BASE_ID }}" },
        "table": { "value": "Sites" },
        "filterByFormula": "={{ \"{Active} = TRUE()\" }}"
      },
      "id": "get-active-sites",
      "name": "Get Active Sites",
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.1,
      "notes": "Pulls every row in the Sites table where Active is checked. This is what makes the workflow multi-site: it loops over whatever sites exist in Airtable rather than a hardcoded single site.",
      "position": [220, 0]
    },
    {
      "parameters": {
        "batchSize": 1,
        "options": {}
      },
      "id": "split-by-site",
      "name": "Split By Site",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [440, 0]
    },
    {
      "parameters": {
        "operation": "search",
        "base": { "value": "={{ $env.AIRTABLE_BASE_ID }}" },
        "table": { "value": "Keywords" },
        "filterByFormula": "={{ \"AND({SiteId} = '\" + $json.SiteName + \"', {Status} = 'Assigned')\" }}"
      },
      "id": "get-assigned-keywords",
      "name": "Get Assigned Keywords For This Site",
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.1,
      "notes": "Pulls keywords for this specific site that are marked 'Assigned' - i.e. ready to become content, as opposed to just 'Researched'.",
      "position": [660, 0]
    },
    {
      "parameters": {
        "batchSize": 1,
        "options": {}
      },
      "id": "split-by-keyword",
      "name": "Split By Keyword",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [880, 0]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "={{ $json.productLookupUrl }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "options": {}
      },
      "id": "fetch-product-data",
      "name": "Fetch Product/Topic Data",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "notes": "Generic data-fetch step. For a product-review site this hits Amazon PA-API; for a different niche this could hit a different source entirely. What matters is it's scoped per-keyword/per-site, not hardcoded to one product category.",
      "position": [1100, 0]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.CLOUDFLARE_WORKER_URL }}/generate",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "x-pipeline-secret", "value": "={{ $env.N8N_WEBHOOK_SECRET }}" },
            { "name": "Content-Type", "value": "application/json" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ {\n  \"system_prompt\": $('Get Active Sites').item.json.ContentVoicePrompt,\n  \"user_prompt\": \"Write or update a post targeting the keyword: \" + $('Split By Keyword').item.json.Keyword + \". Site niche: \" + $('Get Active Sites').item.json.Niche + \". Product/topic data: \" + JSON.stringify($json)\n} }}"
      },
      "id": "generate-content",
      "name": "Generate/Update Content (Claude via Worker)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "notes": "system_prompt is pulled from the current Site's ContentVoicePrompt field, not hardcoded - this is the key change that lets one workflow write in a different voice per site.",
      "position": [1320, 0]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.CLOUDFLARE_WORKER_URL }}/wp/draft",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "x-pipeline-secret", "value": "={{ $env.N8N_WEBHOOK_SECRET }}" },
            { "name": "Content-Type", "value": "application/json" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ {\n  \"wp_base_url\": $('Get Active Sites').item.json.WPBaseURL,\n  \"wp_username\": $('Get Active Sites').item.json.WPUsername,\n  \"wp_app_password\": $('Get Active Sites').item.json.WPAppPassword,\n  \"title\": $('Split By Keyword').item.json.Keyword,\n  \"content\": $json.content[0].text,\n  \"categories\": ($('Get Active Sites').item.json.DefaultCategories || \"\").split(\",\")\n} }}"
      },
      "id": "push-wp-draft",
      "name": "Push WordPress Draft (site-specific creds)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "notes": "wp_base_url/wp_username/wp_app_password come from the current Site's Airtable record, not from Worker env vars. This is what makes the Worker itself site-agnostic - it just forwards whatever credentials n8n hands it.",
      "position": [1540, 0]
    },
    {
      "parameters": {
        "operation": "create",
        "base": { "value": "={{ $env.AIRTABLE_BASE_ID }}" },
        "table": { "value": "ContentPipeline" },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "SiteId": "={{ [$('Get Active Sites').item.json.id] }}",
            "PostID": "={{ $json.id }}",
            "PostTitle": "={{ $json.title.rendered }}",
            "LastUpdated": "={{ $now.toISO() }}",
            "Status": "Pending Review",
            "WPEditLink": "={{ $('Get Active Sites').item.json.WPBaseURL }}/wp-admin/post.php?post={{ $json.id }}&action=edit"
          }
        }
      },
      "id": "log-airtable",
      "name": "Log to Airtable (linked to Site)",
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.1,
      "position": [1760, 0]
    },
    {
      "parameters": {
        "operation": "update",
        "base": { "value": "={{ $env.AIRTABLE_BASE_ID }}" },
        "table": { "value": "Keywords" },
        "id": "={{ $('Split By Keyword').item.json.id }}",
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Status": "In Content"
          }
        }
      },
      "id": "update-keyword-status",
      "name": "Mark Keyword As In-Content",
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.1,
      "position": [1980, 0]
    }
  ],
  "connections": {
    "Weekly Trigger": {
      "main": [[{ "node": "Get Active Sites", "type": "main", "index": 0 }]]
    },
    "Get Active Sites": {
      "main": [[{ "node": "Split By Site", "type": "main", "index": 0 }]]
    },
    "Split By Site": {
      "main": [[{ "node": "Get Assigned Keywords For This Site", "type": "main", "index": 0 }]]
    },
    "Get Assigned Keywords For This Site": {
      "main": [[{ "node": "Split By Keyword", "type": "main", "index": 0 }]]
    },
    "Split By Keyword": {
      "main": [[{ "node": "Fetch Product/Topic Data", "type": "main", "index": 0 }]]
    },
    "Fetch Product/Topic Data": {
      "main": [[{ "node": "Generate/Update Content (Claude via Worker)", "type": "main", "index": 0 }]]
    },
    "Generate/Update Content (Claude via Worker)": {
      "main": [[{ "node": "Push WordPress Draft (site-specific creds)", "type": "main", "index": 0 }]]
    },
    "Push WordPress Draft (site-specific creds)": {
      "main": [[{ "node": "Log to Airtable (linked to Site)", "type": "main", "index": 0 }]]
    },
    "Log to Airtable (linked to Site)": {
      "main": [[{ "node": "Mark Keyword As In-Content", "type": "main", "index": 0 }]]
    }
  },
  "meta": {
    "notes": "Second workflow (not included here) exposes a Webhook node listening for 'Status = Approved' in the ContentPipeline table (via an Airtable automation -> webhook, payload includes both post_id and site_id). That workflow looks up the matching Sites record for wp_base_url/wp_username/wp_app_password, then calls POST {CLOUDFLARE_WORKER_URL}/wp/publish with those plus post_id. This keeps publish gated behind human approval, per-site."
  }
}
