n8n/content-pipeline-workflow.json
{
  "name": "wp-content-engine - Multi-Site Content Pipeline",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "weeks",
              "weeksInterval": 1,
              "triggerAtDay": [1],
              "triggerAtHour": 9
            }
          ]
        }
      },
      "id": "cron-trigger",
      "name": "Weekly Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1,
      "position": [0, 0]
    },
    {
      "parameters": {
        "resource": "record",
        "operation": "search",
        "base": { "mode": "id", "value": "appGnHTDaC2tz14Tz" },
        "table": { "mode": "list", "value": "Sites" },
        "filterByFormula": "{Active} = TRUE()",
        "returnAll": true
      },
      "id": "get-active-sites",
      "name": "Get Active Sites",
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.1,
      "notes": "Pulls every row in the Sites table where Active is checked. FIXED: Base set via 'By ID' mode with real base ID (appGnHTDaC2tz14Tz) instead of $env expression, since n8n Cloud Starter tier blocks $env access. Filter formula entered as plain text (Fixed mode) with NO outer quotes - typing quotes around the whole formula breaks it.",
      "position": [220, 0]
    },
    {
      "parameters": {
        "batchSize": 1,
        "options": {}
      },
      "id": "split-by-site",
      "name": "Split By Site",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [440, 0]
    },
    {
      "parameters": {
        "resource": "record",
        "operation": "search",
        "base": { "mode": "id", "value": "appGnHTDaC2tz14Tz" },
        "table": { "mode": "list", "value": "Keywords" },
        "filterByFormula": "{Status} = 'Assigned'",
        "returnAll": true
      },
      "id": "get-assigned-keywords",
      "name": "Get Assigned Keywords For This Site",
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.1,
      "notes": "SIMPLIFIED for single-site testing: filters only on Status='Assigned', not yet filtered by SiteId. Once you have more than one active site, upgrade this formula to also match SiteId - e.g. AND({Status}='Assigned', FIND('SITENAME', ARRAYJOIN({SiteId})) > 0) - built as an Expression (fx) referencing $('Get Active Sites').item.json.SiteName, not typed as Fixed text with literal quotes.",
      "position": [660, 0]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "https://api.github.com",
        "authentication": "none",
        "options": {}
      },
      "id": "fetch-product-data",
      "name": "Fetch Product/Topic Data",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "notes": "PLACEHOLDER: currently points at api.github.com with no auth, just to let the pipeline run end-to-end. Replace with a real product/topic data source (Amazon PA-API, a scraper, or anything relevant to your niche) once you're ready. n8n automatically runs this once per item flowing in from the previous node - no separate 'Split By Keyword' node needed, which is why that node was removed from this version.",
      "position": [880, 0]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.CLOUDFLARE_WORKER_URL }}/generate",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "x-pipeline-secret", "value": "={{ $env.N8N_WEBHOOK_SECRET }}" },
            { "name": "Content-Type", "value": "application/json" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ {\n  \"system_prompt\": $('Get Active Sites').item.json.ContentVoicePrompt,\n  \"user_prompt\": \"Write or update a post targeting the keyword: \" + $('Get Assigned Keywords For This Site').item.json.Keyword + \". Site niche: \" + $('Get Active Sites').item.json.Niche + \". Product/topic data: \" + JSON.stringify($json)\n} }}"
      },
      "id": "generate-content",
      "name": "Generate/Update Content (Claude via Worker)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "notes": "IMPORTANT: if your n8n plan blocks $env access (Cloud Starter tier does), replace both $env.CLOUDFLARE_WORKER_URL and $env.N8N_WEBHOOK_SECRET below with your actual literal values, same fix as applied to the Airtable nodes' Base field.",
      "position": [1100, 0]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.CLOUDFLARE_WORKER_URL }}/wp/draft",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "x-pipeline-secret", "value": "={{ $env.N8N_WEBHOOK_SECRET }}" },
            { "name": "Content-Type", "value": "application/json" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ {\n  \"wp_base_url\": $('Get Active Sites').item.json.WPBaseURL,\n  \"wp_username\": $('Get Active Sites').item.json.WPUsername,\n  \"wp_app_password\": $('Get Active Sites').item.json.WPAppPassword,\n  \"title\": $('Get Assigned Keywords For This Site').item.json.Keyword,\n  \"content\": $json.content[0].text,\n  \"categories\": ($('Get Active Sites').item.json.DefaultCategories || \"\").split(\",\")\n} }}"
      },
      "id": "push-wp-draft",
      "name": "Push WordPress Draft (site-specific creds)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "notes": "Same $env caveat as the node above - replace with literal values if your n8n plan blocks env var access. Credentials themselves (wp_base_url/wp_username/wp_app_password) correctly pull from the current Site's Airtable record, not from Worker secrets.",
      "position": [1320, 0]
    },
    {
      "parameters": {
        "resource": "record",
        "operation": "create",
        "base": { "mode": "id", "value": "appGnHTDaC2tz14Tz" },
        "table": { "mode": "list", "value": "ContentPipeline" },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "SiteId": "={{ [$('Get Active Sites').item.json.id] }}",
            "PostID": "={{ $json.id }}",
            "PostTitle": "={{ $json.title.rendered }}",
            "LastUpdated": "={{ $now.toISO() }}",
            "Status": "Pending Review",
            "WPEditLink": "={{ $('Get Active Sites').item.json.WPBaseURL }}/wp-admin/post.php?post={{ $json.id }}&action=edit"
          }
        }
      },
      "id": "log-airtable",
      "name": "Log to Airtable (linked to Site)",
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.1,
      "notes": "FIXED: field name corrected to SiteId (matches your actual Airtable field), Base set by ID.",
      "position": [1540, 0]
    },
    {
      "parameters": {
        "resource": "record",
        "operation": "update",
        "base": { "mode": "id", "value": "appGnHTDaC2tz14Tz" },
        "table": { "mode": "list", "value": "Keywords" },
        "id": "={{ $('Get Assigned Keywords For This Site').item.json.id }}",
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Status": "In Content"
          }
        }
      },
      "id": "update-keyword-status",
      "name": "Mark Keyword As In-Content",
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.1,
      "position": [1760, 0]
    }
  ],
  "connections": {
    "Weekly Trigger": {
      "main": [[{ "node": "Get Active Sites", "type": "main", "index": 0 }]]
    },
    "Get Active Sites": {
      "main": [[{ "node": "Split By Site", "type": "main", "index": 0 }]]
    },
    "Split By Site": {
      "main": [[{ "node": "Get Assigned Keywords For This Site", "type": "main", "index": 0 }]]
    },
    "Get Assigned Keywords For This Site": {
      "main": [[{ "node": "Fetch Product/Topic Data", "type": "main", "index": 0 }]]
    },
    "Fetch Product/Topic Data": {
      "main": [[{ "node": "Generate/Update Content (Claude via Worker)", "type": "main", "index": 0 }]]
    },
    "Generate/Update Content (Claude via Worker)": {
      "main": [[{ "node": "Push WordPress Draft (site-specific creds)", "type": "main", "index": 0 }]]
    },
    "Push WordPress Draft (site-specific creds)": {
      "main": [[{ "node": "Log to Airtable (linked to Site)", "type": "main", "index": 0 }]]
    },
    "Log to Airtable (linked to Site)": {
      "main": [[{ "node": "Mark Keyword As In-Content", "type": "main", "index": 0 }]]
    }
  },
  "meta": {
    "notes": "CHANGES FROM PREVIOUS VERSION: (1) Removed 'Split By Keyword' node - n8n automatically runs downstream nodes once per input item, so it was redundant and its broken output connection was blocking the whole chain. (2) Get Active Sites and Get Assigned Keywords filter formulas fixed to plain, unquoted Airtable formula syntax. (3) Fetch Product/Topic Data defaults to a working no-auth call (api.github.com) as a placeholder - swap for your real data source. (4) All Airtable nodes' Base field set via literal Base ID instead of $env expression, since n8n Cloud Starter tier blocks environment variable access - if your CLOUDFLARE_WORKER_URL/N8N_WEBHOOK_SECRET $env references also fail, replace those the same way. (5) Second workflow (webhook -> lookup Site -> call Worker's /wp/publish) is still not included here and needs to be built separately in n8n for the Approved-status publish gate to work."
  }
}
